@import '../../../styles/variables';

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 5px #d8d8d8;
  border-radius: $radius;
  background-color: $main-color;
}
.input-field {
  margin: 5px 0;
  padding: 7px 5px;
  width: 100%;
  border-radius: $radius;
  border: none;
  outline: none;
}
.btn-primary {
  color: $main-color;
  font-family: sans-serif;

  margin: 5px auto;
  outline: none;
  border-radius: $radius;
  padding: 5px 20px;
  background-color: #fff;
}
.btn-primary:active {
  box-shadow: 1px 1px 3px #a3a3a3;
}
