.pointing-finger {
  cursor: pointer;
}
.u-margin-x-small {
  margin: 0.5rem 0;
}
.u-margin-x-medium {
  margin: 1rem 0;
}
.u-margin-x-big {
  margin: 1.5rem 0;
}
.u-margin-y-small {
  margin: 0 0.5rem;
}
.u-margin-y-medium {
  margin: 0 1rem;
}
.u-margin-y-big {
  margin: 0 1.5rem;
}
// .u-margin-x-auto {
//   margin: auto 0;
// }
