@import '../../styles/variables';

.header {
  display: flex;
  background-color: $main-color;
  color: $font-color;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba($color: gray, $alpha: 1);
}
.content {
  padding: 20px;
  height: 80vh;
}
.footer {
  height: 13vh;
  background-color: $main-color;
}
.footer-text {
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-icon {
  cursor: pointer;
}
.message-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: inline-block;
}
